@import "tailwindcss";

:root {
	--background: #0a0a0a;
	--foreground: #ededed;
}

html {
	min-height: fit-content;
	height: 100dvh;
	scroll-behavior: smooth;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: fit-content;
	width: 100%;
	max-width: 100%;
	background: var(--background);
	color: var(--foreground);
	font-family:
		var(--font-g-flex), var(--font-g-sans), Georgia, Helvetica, sans-serif;
}

body > main {
	flex-grow: 1;
	height: 100%;
}

body *::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

body *::-webkit-scrollbar-track {
	background: #d2d2d2;
}

body *::-webkit-scrollbar-thumb {
	background: #a0a0a0;
}

body *::-webkit-scrollbar-thumb:hover {
	background: #272727b6;
}

button {
	cursor: pointer;
}

@media (pointer: fine) {
	body *::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}
