@import "tailwindcss";

:root {
	--swiper-navigation-color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
	@apply bg-gray-900/70 p-3 flex items-center justify-center rounded-lg w-fit h-15/100;
}

.scriptures::-webkit-scrollbar-track {
	background: #4e5963;
}

.scriptures::-webkit-scrollbar-thumb {
	background: #101828b9;
}

.scriptures::-webkit-scrollbar-thumb:hover {
	background: #101828;
}
